.top {
  background: rgba(59, 182, 233, 1);
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  float: left;
  margin: 5px;
}
button {
  background: black;
  font-weight: bold;
  font-size: 2em;
  color: white;
  padding: 10px;
  border: none;
}
